:root {
  --light-border-primary: #cdd5fe;
  --dark-background: hwb(215 14% 17%);
  --light-background: rgb(36, 149, 255);
  --light-grey: rgba(161, 159, 159, 0.5);
  --shadow: 0px 0px 10px rgba(76, 77, 77, 0.5);
  --box-shadow: 0px 1px 2px rgba(2, 17, 37, 0.12);

  --h4-font: 800;
  --text-light: #616c76;
  

  --border:#CDD5DE;
}
